/* body {
    font-family: Roboto;
} */
.lower_description {
    margin:1.5rem;
}

.input_variables {
    width:110%;
}


.weights_latex_p .base {
    overflow:auto;
    /* width: 50%; */
    height: 80%;
    width:50em;
}

.input_latex_p {
    overflow:auto;
    width:50em;
    margin: 0
}